@model InformationProtection.Models.IpApproverViewData

@{
    ViewBag.Title = "Approvers";
}

<link href="@Url.Content("~/Scripts/jtable/themes/metro/purple/jtable.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jtable/jquery.jtable.js")" type="text/javascript"></script>

<h2>Approver</h2>
<table >
    <tr>
        <th>
            @Html.DisplayFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayFor(model => model.EmailAddress)
        </th>

        <th></th>
    </tr>
</table>



<script type="text/javascript">

    $(document).ready(function () {
        var EmpId = $("#EmpID").val();
        var ApproverEmpID = $("#ApproverEmpID").val();
        var uri = 'GetAppsData?ApprsEmpID=' + ApproverEmpID;
        //Prepare jtable plugin
        $('#ApproversTable').jtable({
            title: 'Pending Request',
            sorting: false,
            selecting: true, 
            multiselect: true, 
            selectingCheckboxes: true, 
            actions: {
                listAction: uri
            },
            fields: {
                Id: {
                    key: true,
                    create: false,
                    edit: false,
                    list: false
                },
                RequestType: {
                    title: 'Type',
                    width: '20%'
                },
                RequestorsName: {
                    title: 'Name',
                    width: '20%'
                },
                RequuestorsEmpId: {
                    title: 'EmpId',
                    width: '20%'
                },
                ApprovedStatus: {
                    title: 'Status',
                    width: '20%'
                },
                RequestDetailsLink: {
                    title: 'Details',
                    width: '20%'
                }
            },
            //Register to selectionChanged event to hanlde events
            selectionChanged: function () {
                //Get all selected rows
                var $selectedRows = $('#ApproversTable').jtable('selectedRows');

                $('#OurApprovalListId').val('');
                if ($selectedRows.length > 0) {
                    //Show selected rows
                    var index = 0;
                    var selectList = '<select id="ApproveTheese" name="ApproveTheese">'
                    var selectList1 = 'Our Approvalls:'
                    $selectedRows.each(function () {
                        var record = $(this).data('record');
                        var x = String(index);
                        selectList1 += "Index=" + x + " RecordId=" + record.Id + ",";
                        index++;
                    });
                    $('#OurApprovalList').val(selectList1);
                } else {
                    //No rows selected
                    $('#SelectedRowList').append('No row selected! Select rows to see here...');
                }
            }
        });

        //Load person list from server
        $('#ApproversTable').jtable('load');


    });

</script>


<div id="ApproversTable" style="width: 98%; margin: auto"></div>
@using (Html.BeginForm())
{
    <table>
        <tr>
            <td>
                <p>Comments</p>

            </td>
            <td>
                  @Html.TextBox("Comments", null, new  { style="width:500px" })
            </td>
        </tr>

        <tr>
            <td>
                <input type="submit" name="submitButton" value="Approve" />

            </td>
            <td>
                 <input type="submit" name="submitButton" value="Reject" />
            </td>
        </tr>
    </table>
    <div id="ApproveListId" style="visibility:hidden">
        @{
            var EmpID = Model.EmpID;
            var ApproversEmpId = ViewBag.ApproverEmpID;
        }
        @Html.TextBox("OurApprovalList", null)
        @Html.Hidden("ApproverEmpID",  ViewData["ApproverEmpID"], new  {id = "ApproverEmpID" })
        @Html.Hidden("EmpID", EmpID, new  {id = "EmpID" })
    </div>

}


