@model InformationProtection.Models.LapTopViewData
@{
    ViewBag.Title = "Lap Top Request";
}


@using (Html.BeginForm())
{

    @Html.Hidden("EmpID", ViewData["EmpID"]);
    @Html.Hidden("RequestorId", Model.RequestorId);
    @Html.Hidden("RequestId", Model.RequestId);
    @Html.Hidden("CdburnerDeviceId", Model.LapTopDeviceId);
    @Html.ValidationSummary()
    <fieldset style="width: 96%">
        <legend>LapTop IP Request</legend>
        <h2 class="RenownHeader1">LAP TOP USE/REQUEST FORM</h2>

        <table class="Table1Format">
            <tr style="width: 98%">
                <td class="Request" colspan="4">This form is a request for 
                    <strong>
                        <u>Renown Laptop use</u>
                    </strong>
                    for a Renown Health employee who requires this equipment to fulfill his/her professional                        
                    responsibilities on behalf of Renown. 
                    In order to obtain Renown Health laptop use, the employee must complete this form, 
                    have it approved by his/her management,
                    the Renown Health Chief Financial Officer, Information Protection,
                    and Chief Information Officer.  Once all approvals have been received,
                    the document will be contained in the employee’s HR file and a copy resident
                    in the immediate supervisor’s employee file.
                    All access is subject to Renown Health policies and procedures.
                </td>
            </tr>

            <tr style="width: 98%">
                <td colspan="4" style="text-align: left; border: groove">
                    <table class="box">


                        <tr>
                            <td colspan="4">
                                <table class="box1">
                                    <tr>
                                        <td style="text-align: center" colspan="2">
                                            @Html.ValidationMessageFor(model => model.BusJustType, "*")
                                            @{
                                                          bool newType = false;
                                                          bool existingType = false;
                                                          if (Model.BusJustType != null)
                                                          {
                                                              newType = Model.BusJustType.ToLower() == "new";
                                                              existingType = Model.BusJustType.ToLower() == "existing";
                                                          }
                                            }
                                            <strong>
                                                <br />
                                                @Html.Label("New:")
                                                @Html.RadioButton("RadBtnRenownOwnedType", "New", newType)
                                                @Html.Label("Existing:")
                                                @Html.RadioButton("RadBtnRenownOwnedType", "Existing", existingType)
                                            </strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="background-color: #D4D0C8; text-align: left" colspan="2">
                                            <strong>Business justification: </strong>
                                            Please specify the job duties that require 
                                mobile device use and/or syncing to Renown information, 
                                how this access will support your work, 
                                and how your work will be impacted without it.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="background-color: antiquewhite; text-align: left" colspan="2">
                                            @Html.TextArea("BusJustification", new { style = "width:98%" })
                                            @Html.ValidationMessageFor(model => model.BusJustification, "*")
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left" colspan="1">
                                            <strong>Secured Physical Location of Laptop:</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="background-color: antiquewhite; text-align: left" colspan="3">
                                            @Html.TextBoxFor(model => model.PhysLocation, new { style = "width:98%" })
                                            @Html.ValidationMessageFor(model => model.PhysLocation, "*")
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                    </table>
                </td>
            </tr>
        </table>
        <table class="Table1Format" style="width: 100%">
            <tr>
                <td colspan="2" style="border: groove">
                    <table class="box1">
                        <tr>
                            <td colspan="4" style="text-align: left; vertical-align: top; text-wrap: none; border: hidden">
                                @Html.CheckBox("SecuredAck1")
                                @Html.ValidationMessageFor(model => model.SecuredAck1, "*")
                                I verify that everything written 
                               herein is true to the best of my knowledge. 
                                I realize that laptop use and access to Renown Health computer systems and information assets are a privilege and are monitored and subject to 
                                Renown Health’s policies and procedures concerning professional 
                                use of computers and information systems, and 
                                <strong>RENOWN.IRP.210 Mobile Device Usage Policy</strong>.
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" style="text-align: left; vertical-align: top; text-wrap: none; border: hidden">
                                @Html.CheckBox("SecuredAck2")
                                @Html.ValidationMessageFor(model => model.SecuredAck2, "*")
                                I understand that non-compliance with Renown Health Policies may result in immediate termination of my 
                               Laptop usage. 
                               In addition, this action may occur with Renown Health employment termination.
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" style="text-align: left; vertical-align: top; text-wrap: none; border: hidden">
                                @Html.CheckBox("SecuredAck3")
                                @Html.ValidationMessageFor(model => model.SecuredAck3, "*")
                                @*<asp:checkbox id="Chk_ack3" runat="server" />*@
                                I understand I am responsible for: 
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 10px"></td>
                            <td style="text-align: left; vertical-align: top; text-wrap: none; border: hidden; width: 100px">
                                @Html.ValidationMessageFor(model => model.SecuredAck4, "*")
                                @Html.CheckBox("SecuredAck4")
                                Logical security </td>

                            <td style="text-align: left; vertical-align: top; text-wrap: none; border: hidden; width: 100px">
                                @Html.ValidationMessageFor(model => model.SecuredAck5, "*")
                                @Html.CheckBox("SecuredAck5")
                                Physical security</td>

                            <td style="text-align: left; vertical-align: top; text-wrap: none; border: hidden; width: 200px">
                                @Html.ValidationMessageFor(model => model.SecuredAck6, "*")
                                @Html.CheckBox("SecuredAck6")
                                Immediate Notification: loss/theft</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>


        <table class="Table1Format" style="width: 100%">
            <tr>
                <td colspan="2" style="border: groove">
                    <table class="box1">
                        <tr>
                            <td colspan="2" style="text-align: center"><strong>Security Requirements:</strong></td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align: left; vertical-align: top; text-wrap: none; border: ridge">
                                @Html.CheckBox("SecurityAck1")
                                Business Use Only
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align: left; vertical-align: top; text-wrap: none; border: ridge">
                                @Html.CheckBox("SecurityAck2")
                                Must have Renown network account (UserID)
                            </td>
                        </tr>

                        <tr>
                            <td colspan="2" style="text-align: left; vertical-align: top; text-wrap: none; border: ridge">
                                @Html.CheckBox("SecurityAck3")
                                Assigned to individual, not to a Department
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align: left; vertical-align: top; text-wrap: none; border: ridge">
                                @Html.CheckBox("SecurityAck4")
                                Use encryption
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align: left; vertical-align: top; text-wrap: none; border: ridge">
                                @Html.CheckBox("SecurityAck5")
                                Physically secure device
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align: left; vertical-align: top; text-wrap: none; border: ridge">
                                @Html.CheckBox("SecurityAck6")
                                Connect laptop to Renown wireless network - weekly
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align: left; vertical-align: top; text-wrap: none; border: ridge">
                                @Html.CheckBox("SecurityAck7")
                                Do not store information on laptop; backup all information to network drive
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align: left; vertical-align: top; text-wrap: none; border: ridge">
                                @Html.CheckBox("SecurityAck8")
                                Do not disable any security or technical configurations
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align: left; vertical-align: top; text-wrap: none; border: ridge">
                                @Html.CheckBox("SecurityAck9")
                                Do not install any software or hardware
                            </td>
                        </tr>
                    </table>
                    <table class="Table1Format" style="border: groove">
                        <tr>
                            <td colspan="1">
                                <div class="editor-label">
                                    <strong>
                                        @Html.LabelFor(model => model.Model)
                                    </strong>
                                </div>
                            </td>
                            <td colspan="1" style="text-align: left">
                                <div class="editor-field">
                                    @Html.TextBox("Model", Model.Model, new { style = "width:300px" })
                                    @Html.ValidationMessageFor(model => model.Model, "*")
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="editor-label">
                                    <strong>
                                        @Html.LabelFor(model => model.SerialNumber)
                                    </strong>
                                </div>
                            </td>
                            <td>
                                @Html.TextBox("SerialNumber", Model.SerialNumber, new { style = "width:300px" })

                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align: top; width: 75px">
                                <strong>Employee Signature:</strong>
                            </td>
                            <td>
                                @Html.TextBox("EmployeeSignature", null, new { style = "width:300px" })
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align: top; width: 75px">
                                <strong>Date:</strong>
                            </td>
                            <td>
                                @Html.TextBox("SubmitDate", DateTime.Now, new { style = "width:200px", disabled = "true" })
                            </td>
                        </tr>
                    </table>

                </td>
            </tr>
        </table>


    </fieldset>
    
    <table class="Table1Format" style="width: 98%; border: 2px solid">
        <tr>
            <td style="font-size: 20px; font-weight: bold; text-align: center">Commit (Request is Complete)<input type="submit" name="submitButton" value=@Page.SubmitType />
            </td>

            <td style="font-size: 20px; font-weight: bold; text-align: center">Save for later (No Validation Performed)<input type="submit" name="submitButton" value="Save" />
            </td>
        </tr>
    </table>

}


