<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html>



<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=10"/>
    <meta name="keywords" content="Information Protection, Cell Phone Request"/>
    <meta name="description" content="Request for Information Protection Request Forms"/>

    <link href="@Url.Content("~/Scripts/jquery-ui-1.10.2/themes/base/jquery-ui.css")" rel="stylesheet" />
    @* <link rel="stylesheet" href="/Scripts/jquery-ui-1.10.2/themes/base/jquery-ui.css"  />*@

    <link href="@Url.Content("~/Scripts/jtable/themes/metro/purple/jtable.css")" rel="stylesheet" type="text/css" />

    @*    <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.10.2/ui/jquery-ui.js")"></script>*@



    @*    <script src="Scripts/jquery-ui-1.10.2/jquery-1.9.1.js"></script>
    <script src="Scripts/jquery-ui-1.10.2/ui/jquery-ui.js"></script>*@

    <script src="@Url.Content("~/Scripts/jquery-ui-1.10.2/jquery-1.9.1.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.10.2/ui/jquery-ui.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jtable/jquery.jtable.js")" type="text/javascript"></script>

    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @*    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jqueryval")*@
</head>
<body>
    <div class="dvMain">


        <div id="dvHeader">
            <img src="~/images/LeaderHeader.gif" style="width:98%" height="113" border="0" alt="" usemap="#header_Map" id="IMG1" />
            <map name="header_Map">
                <area shape="rect" alt="InsideRenown"           coords="4,7,136,65"     href="http://insiderenown" target="_top" />
                <area shape="rect" alt="Renown.org"             coords="375,90,465,113" href="http://www.renown.org" target="_blank" />
                <area shape="rect" alt="Renown mail"            coords="475,90,570,113" href="http://inetmail.renown.org/default.asp" target="_blank" />
                <area shape="rect" alt="Renown Phone Directory" coords="575,90,700,113" href="http://renownphone/WebDirectory/" target="_blank" />
                <area shape="rect" alt="Renown Departments"     coords="720,90,795,113" href="http://insiderenown/body.cfm?id=47" target="_blank" />
            </map>


        </div>
        <br />
        <br />

        <div id="categories" style="height: 1000px">
            @RenderPage("~/Views/_Links.cshtml")
        </div>
        <div id="content" style="height: 600px">
            @RenderBody()
        </div>
    </div>
</body>
</html>
