@using InformationProtection.Models;
@{
    RemoteAccessMdlData data = (RemoteAccessMdlData)ViewBag.ourData;
}

<fieldset style="width: 96%">
    <legend>Remote Access Request:</legend>
    <table class="Table1Format">
        <tr>
            <td class="Request" colspan="4">This form is a request for remote access to internal Renown Health applications of systems for an employee who requires this
                   access to fulfill their professional responsibilities on behalf of Renown. 
                   In order to obtain remote access, the empoyee must complete this form, have it approved by their immediate supervisor, 
                   and then submit it to the Renown Health CFO, Information Protection, and Information Resources for review/action. 
                   All access is subject to Renown Health polices and procedures. Thank you.
            </td>
        </tr>
        <tr style="width: 98%">
            <td>Request Number:</td>
            <td>@Html.TextBox("RemoteAccessId", data.RemoteAccessId, new { disabled = "true" })</td>
        </tr>
        <tr>
            <td colspan="3">
                <strong>Non Exempt Employee:</strong>
            </td>
            <td colspan="1" style="text-align: left">
                <div class="editor-field">
                    @Html.TextBox("NonExemptEmployee", data.NonExemptEmployee, new { disabled = "true" })
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <strong>I need access to Servers: </strong>
                (Please specify IP Address(es) AND Server name(s))
                 @Html.CheckBox("AccessToServer", data.AccessToServer, new { disabled = "true" })
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <strong>Server Names:</strong>
            </td>
        </tr>
        <tr>
            <td colspan="4" style="text-align: left">
                @Html.TextBox("IpAddressAndHostName", data.IpAddressAndHostName, new { disabled = "true", style = "width:98%;" })
            </td>
        </tr>
        <tr>
            <td colspan="4">I need access to:         
                        Applications (Please specify the name(s) of the executable file to be used)
                @Html.CheckBox("AccessToApp", data.AccessToApp, new { disabled = "true" })
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <strong>Application Names:</strong>
            </td>
        </tr>
        <tr>
            <td colspan="4" style="text-align: left">
                @Html.TextBox("AppNames", data.AppNames, new { disabled = "true", style = "width:98%;" })
            </td>
        </tr>
        <tr>
            <td colspan="4">I need access to:         
                        LAN Shares (Please specify Share name(s), not just drive letter)
                 @Html.CheckBox("AccessToLanShares", data.AccessToLanShares, new { disabled = "true" })
            </td>
        </tr>
        <tr>
            <td colspan="4" style="text-align: left">
                <strong>Lan Shares</strong>
            </td>
        </tr>
        <tr>
            <td colspan="4" style="text-align: left">

                @Html.TextBox("LanShares", data.LanShares, new { style = "width:98%;", disabled = "true" })
            </td>
        </tr>
        <tr>
            <td colspan="4" style="width: 200px; text-align: left">My Workstation (please specify the full computer name or S/N)
                 @Html.CheckBox("AccessToMyWorkStation", data.AccessToMyWorkStation, new { disabled = "true" })
            </td>
        </tr>
        <tr>
            <td colspan="4" style="text-align: left">
                <strong>Computer Name</strong>
            </td>
        </tr>
        <tr>
            <td colspan="4" style="text-align: left">
                @Html.TextBox("ComputerName", data.ComputerName, new { style = "width:98%;", disabled = "true" })
            </td>
        </tr>
        <tr>
            <td colspan="4" style="width: 200px; text-align: left">I need this access from my home, on the road and elsewhere.
                @Html.CheckBox("ConnectFromHome", data.ConnectFromHome, new { disabled = "true" })
            </td>
        </tr>
        <tr>
            <td colspan="4" style="text-align: left">
                <strong>My workstation has O/S:</strong>
            </td>
        </tr>
        <tr>
            <td colspan="4" style="text-align: left">
                @Html.TextBox("WorkStationOS", data.WorkStationOS, new { style = "width:98%;", disabled = "true" })
            </td>
        </tr>



    </table>

    <table class="Table1Format">

        <tr>
            <td style="text-align: left" colspan="2">
                <strong>My Remote Connection is:
                </strong>
                @Html.TextBox("RemoteConnectionType", data.RemoteConnectionType, new { disabled = "true" })
            </td>
        </tr>



    </table>




    <table class="Table1Format">

        <tr>
            <td class="Request" colspan="4">Please specify the job duties that require you to have remote access to the 
                        listed applications/systems, 
                        how this access would support your work, 
                        and how your work would be impacted without it.
            </td>
        </tr>
        <tr>
            <td style="background-color: antiquewhite; text-align: left;" colspan="4">
                @Html.TextBox("JobDuties", data.JobDuties, new { disabled = "true", style = "width:98%;" })
            </td>
        </tr>

    </table>
    <table class="Request" style="width: 700px">

        <tr>
            <td colspan="4">I understand I am responsible for:
                 @Html.CheckBox("SecuredAck1", data.SecuredAck1, new { disabled = "true" })
            </td>
        </tr>
        <tr style="border: groove">
            <td>Current patches:
                @Html.CheckBox("SecuredAck2", data.SecuredAck2, new { disabled = "true" })
            </td>

            <td>Current anti-virus:
                @Html.CheckBox("SecuredAck3", data.SecuredAck3, new { disabled = "true" })
            </td>

            <td>Personal firewall:

                @Html.CheckBox("SecuredAck4", data.SecuredAck4, new { disabled = "true" })
            </td>
        </tr>

    </table>
    <table style="width: 100%">
        <tr>
            <td colspan="2" style="border: groove">
                <table class="box1">
                    <tr>
                        <td colspan="4" style="text-align: left; vertical-align: top; text-wrap: none; border: hidden">
                            @* @Html.CheckBox(data.SecuredAck5, true, new { disabled = "true" });*@
                            I verify that everything written 
                               herein is true to the best of my knowledge. 
                                I realize that laptop use and access to Renown Health computer systems and information assets are a privilege and are monitored and subject to 
                                Renown Health’s policies and procedures concerning professional 
                                use of computers and information systems, and 
                                <strong>RENOWN.IRP.210 Mobile Device Usage Policy</strong>.
                        </td>
                    </tr>
                    <tr>
                        <td>
                                Employee Signature:
                                @Html.TextBox("EmployeeSignature", data.EmployeeSignature, new { disabled = "true", style = "width:98%;" })
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

</fieldset>
