@model InformationProtection.Models.RemoteAccessMdlData


<fieldset style="width: 96%">
    <legend>Remote Access Request</legend>
    <table class="Table1Format">
        <tr style="width: 98%">
            <td class="Request" colspan="4">This form is a request for 
                   This form is a request for remote access to internal Renown Health applications of systems for an employee who requires this
                   access to fulfill their professional responsibilities on behalf of Renown. 
                   In order to obtain remote access, the empoyee must complete this form, have it approved by their immediate supervisor, 
                   and then submit it to the Renown Health CFO, Information Protection, and Information Resources for review/action. 
                   All access is subject to Renown Health polices and procedures. Thank you.
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="editor-label">
                    @Html.DisplayNameFor(model => model.NonExemptEmployee)
                    @Html.DisplayFor(model => model.NonExemptEmployee)
                </div>

            </td>
        </tr>
        <tr>
            <td colspan="4">
                <div class="editor-label">
                    @Html.DisplayFor(model => model.AccessToServer)
                    I need access to:         
                        Servers (Please specify IP Address(es) AND Server name(s))
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="4" style="text-align: left">
                <div class="editor-field">
                    @Html.DisplayFor(model => model.IpAddressAndHostName, new { style = "width:500px;" })
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <div class="editor-label">
                    @Html.DisplayFor(model => model.AccessToApp)
                    I need access to:         
                        Applications (Please specify the name(s) of the executable file to be used)
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="4" style="text-align: left">
                <div class="editor-field">
                    @Html.DisplayFor(model => model.AppNames, new { style = "width:500px;" })
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <div class="editor-label">
                    @Html.DisplayFor(m => m.AccessToLanShares)
                    I need access to:         
                        LAN Shares (Please specify Share name(s), not just drive letter)
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="4" style="text-align: left">
                <div class="editor-field">
                    @Html.DisplayFor(model => model.LanShares, new { style = "width:500px;" })
                </div>
            </td>
        </tr>

        <tr>
            <td colspan="4" style="width: 200px; text-align: left">
                <div class="editor-label">
                    @Html.DisplayFor(model => model.AccessToMyWorkStation)
                    My Workstation (please specify the full computer name or S/N)
                </div>
            </td>

        </tr>
        <tr>
            <td colspan="4" style="text-align: left">
                <div class="editor-field">
                    @Html.DisplayFor(model => model.ComputerName, new { style = "width:500px;" })
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="4" style="width: 200px; text-align: left">
                <div class="editor-label">
                    @Html.DisplayFor(model => model.ConnectFromHome)
                    I need this access from my home, on the road and elsewhere.
                </div>
            </td>

        </tr>



        <tr>
            <td colspan="1" style="width: 200px; text-align: left">
                <div class="editor-label">
                    @Html.DisplayNameFor(model => model.WorkStationOS)
                </div>
            </td>

            <td colspan="3" style="width: 200px; text-align: left">
                <div class="editor-label">
                    @Html.DisplayFor(model => model.WorkStationOS, new { style = "width:300px;" })
                </div>
            </td>

        </tr>



    </table>

    <table class="Table1Format">

        <tr>
            <td style="text-align: left" colspan="2">
                <strong>My Remote Connection is:
                                    <br />
                </strong>
                @Html.DisplayFor(model => model.RemoteConnectionType)
            </td>
        </tr>



    </table>




    <table class="Table1Format">

        <tr>
            <td class="Request" colspan="4">Please specify the job duties that require you to have remote access to the 
                        listed applications/systems, 
                        how this access would support your work, 
                        and how your work would be impacted without it.
            </td>
        </tr>
        <tr>
            <td style="background-color: antiquewhite; text-align: left; width: 500px" colspan="4">
                @Html.DisplayFor(model => model.JobDuties, new { style = "width:700px" })
            </td>
        </tr>

    </table>
    <table class="Request" style="width: 700px">

        <tr>
            <td colspan="4">
                @Html.DisplayFor(model => model.SecuredAck1)
                @Html.DisplayNameFor(model => model.SecuredAck1)
            </td>
        </tr>
        <tr style="border: groove">
            <td>
            @Html.DisplayFor(model => model.SecuredAck2)
            @Html.DisplayNameFor(model => model.SecuredAck2)
            Current patches
                <td>
                    @Html.DisplayFor(model => model.SecuredAck3)
                    @Html.DisplayNameFor(model => model.SecuredAck3)
                </td>
            <td>
                @Html.DisplayFor(model => model.SecuredAck4)
                @Html.DisplayNameFor(model => model.SecuredAck4)
            </td>
        </tr>

    </table>
    <table style="width: 100%">
        <tr>
            <td colspan="2" style="border: groove">
                <table class="box1">
                    <tr>
                        <td colspan="4" style="text-align: left; vertical-align: top; text-wrap: none; border: hidden">
                            @Html.DisplayFor(model => model.SecuredAck5)
                            I verify that everything written 
                               herein is true to the best of my knowledge. 
                                I realize that laptop use and access to Renown Health computer systems and information assets are a privilege and are monitored and subject to 
                                Renown Health’s policies and procedures concerning professional 
                                use of computers and information systems, and 
                                <strong>RENOWN.IRP.210 Mobile Device Usage Policy</strong>.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="editor-label">
                                @Html.DisplayNameFor(model => model.EmployeeSignature)
                            </div>
                        </td>
                        <td>
                            <div class="editor-label">
                                @Html.DisplayFor(model => model.EmployeeSignature, new { style = "width:300px" })
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

</fieldset>
