@{
    int requestId = ViewBag.RequestId;
    InformationProtection.Models.IpApprovalRequestView model = new InformationProtection.Models.IpApprovalRequestView();
    InformationProtection.Models.IpApprovalRequestViewData data = model.GetApprovalRequest(requestId.ToString());
}


<fieldset>
    <legend>Approval Request</legend>

    <table>
        <tr>
            <td>
                <strong>@Html.Label("SubmitDate")</strong>
            </td>
            <td>
                @Html.TextBox("SubmitDate", data.SubmitDate, new { style = "width:200px", disabled = "true" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("RequestType", new { style = "font-weight: bold" })
            </td>
            <td>
                @Html.TextBox("RequestType", data.RequestType, new { style = "width:200px", disabled = "true" })
            </td>
        </tr>
    </table>


    <fieldset>
        <legend>First Level Supervisor</legend>
        <table class="Table1Format">
            <tr>
                <td>
                    <strong>Name: </strong>
                </td>
                <td>
                    @Html.TextBox("FirstSupName", data.FirstSupName, new { style = "width:200px", disabled = "true" })
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Statue: </strong>
                </td>
                <td>
                    @Html.TextBox("FirstSupApproval", data.FirstSupApproval, new { style = "width:200px", disabled = "true" })
                </td>
            </tr>

            <tr>
                <td>
                    <strong>Date: </strong>
                </td>
                <td>
                    @Html.TextBox("FirstSupApprovalDate", data.FirstSupApprovalDate, new { style = "width:200px", disabled = "true" })
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Comment: </strong>
                </td>
                <td>
                    @Html.TextBox("FirstSupComment", data.FirstSupComment, new { style = "width:98%", disabled = "true" })
                </td>
            </tr>
        </table>

    </fieldset>
    <fieldset>
        <legend>Second Level Supervisor</legend>
        <table class="Table1Format">
            <tr>
                <td>
                    <strong>Name: </strong>
                </td>
                <td>
                    @Html.TextBox("SecondSupName", data.SecondSupName, new { style = "width:200px", disabled = "true" })
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Statue: </strong>
                </td>
                <td>
                    @Html.TextBox("SecondSupApproval", data.SecondSupApproval, new { style = "width:200px", disabled = "true" })
                </td>
            </tr>

            <tr>
                <td>
                    <strong>Date: </strong>
                </td>
                <td>
                    @Html.TextBox("SecondSupApprovalDate", data.SecondSupApprovalDate, new { style = "width:200px", disabled = "true" })
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Comment: </strong>
                </td>
                <td>
                    @Html.TextBox("SecondSupComment", data.SecondSupComment, new { style = "width:98%", disabled = "true" })
                </td>
            </tr>
        </table>
    </fieldset>

    <fieldset>
        <legend>VP HR</legend>
        <table class="Table1Format">
            <tr>
                <td>
                    <strong>Name: </strong>
                </td>
                <td>
                    @Html.TextBox("VpHrName", data.VpHrName, new { style = "width:200px", disabled = "true" })
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Statue: </strong>
                </td>
                <td>
                    @Html.TextBox("VpHrApproval", data.VpHrApproval, new { style = "width:200px", disabled = "true" })
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Date: </strong>
                </td>
                <td>
                    @Html.TextBox("VpHrApprovalDate", data.VpHrApprovalDate, new { style = "width:200px", disabled = "true" })
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Comment: </strong>
                </td>
                <td>
                    @Html.TextBox("VpHrComment", data.VpHrComment, new { style = "width:98%", disabled = "true" })
                </td>
            </tr>

        </table>

    </fieldset>
    <fieldset>

        <legend>RHCFO</legend>
        <table class="Table1Format">
            <tr>
                <td>
                    <strong>Name: </strong>
                </td>
                <td>
                    @Html.TextBox("RhCfoName", data.RhCfoName, new { style = "width:200px", disabled = "true" })
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Statue: </strong>
                </td>
                <td>
                    @Html.TextBox("RhCfoApproval", data.RhCfoApproval, new { style = "width:200px", disabled = "true" })
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Date: </strong>
                </td>
                <td>
                    @Html.TextBox("RhCfoApprovalDate", data.RhCfoApprovalDate, new { style = "width:200px", disabled = "true" })
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Comment: </strong>
                </td>
                <td>
                    @Html.TextBox("RhCfoComment", data.RhCfoComment, new { style = "width:98%", disabled = "true" })
                </td>
            </tr>

        </table>


    </fieldset>
    <fieldset>
        <legend>IPD</legend>
        <table class="Table1Format">
            <tr>
                <td>
                    <strong>Name: </strong>
                </td>
                <td>
                    @Html.TextBox("IpdName", data.IpdName, new { style = "width:200px", disabled = "true" })
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Statue: </strong>
                </td>
                <td>
                    @Html.TextBox("IpdApproval", data.IpdApproval, new { style = "width:200px", disabled = "true" })
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Date: </strong>
                </td>
                <td>
                    @Html.TextBox("IpdApprovalDate", data.IpdApprovalDate, new { style = "width:200px", disabled = "true" })
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Comment: </strong>
                </td>
                <td>
                    @Html.TextBox("IpdComment", data.IpdComment, new { style = "width:98%", disabled = "true" })
                </td>
            </tr>

        </table>

    </fieldset>

    <fieldset>
        <legend>CIO</legend>


        <table class="Table1Format">
            <tr>
                <td>
                    <strong>Name: </strong>
                </td>
                <td>
                    @Html.TextBox("CioName", data.CioName, new { style = "width:200px", disabled = "true" })
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Statue: </strong>
                </td>
                <td>
                    @Html.TextBox("CioApproval", data.CioApproval, new { style = "width:200px", disabled = "true" })
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Date: </strong>
                </td>
                <td>
                    @Html.TextBox("CioApprovalDate", data.CioApprovalDate, new { style = "width:200px", disabled = "true" })
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Comment: </strong>
                </td>
                <td>
                    @Html.TextBox("CioComment", data.CioComment, new { style = "width:98%", disabled = "true" })
                </td>
            </tr>

        </table>

    </fieldset>

</fieldset>
