@model InformationProtection.Models.UsbViewData
@{
    ViewBag.Title = "USB Request";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    @Html.Hidden("EmpID", ViewData["EmpID"]);
    @Html.Hidden("RequestorId", Model.RequestorId);
    @Html.Hidden("RequestId", Model.RequestId);
    @Html.Hidden("UsbDeviceId", Model.UsbDeviceId);
    <fieldset style="width: 96%">
        <h2 class="RenownHeader1">USB/REQUEST FORM</h2>
        <legend>USB IP Request</legend>


        <table class="Table1Format">
            @if (Model.UsbDeviceId != 0)
            {
                <tr>
                    <td>Request Number:
                    </td>
                    <td>
                        @Html.TextBox("LapTopDeviceId", Model.UsbDeviceId, new { style = "width:50px", disabled = "true" })
                    </td>
                </tr>
            }
            <tr style="width: 98%">

                <td class="Request" colspan="4">This form is a request to receive and utilize a
                <u>Renown-provided USB device</u>
                    by a Renown Health employee who requires this equipment to fulfill his/her professional
             responsibilities on behalf of Renown. 
            To obtain a Renown Health USB, the employee must complete this form, have it approved by his/her management, 
            and submit it to the Renown Health Chief Financial Officer, Information Protection Director, and Chief Information Officer for approval. 
            Once all approvals have been received, the document will be contained in the employee’s HR file and a copy resident in the immediate supervisor’s employee file. 
            All access is subject to Renown Health policies and procedures.
                </td>
            </tr>

            <tr style="width: 98%">
                <td colspan="4" style="text-align: left; border: groove">
                    <table class="box">
                        <tr>
                            <td style="background-color: #D4D0C8; text-align: left" colspan="2">
                                <strong>Business justification: </strong>
                                Please specify the job duties that require laptop use, 
                                how this access will support your work, 
                                and how your work will be impacted without it.
                            </td>
                        </tr>

                        <tr>
                            <td style="background-color: antiquewhite; text-align: left" colspan="3">
                                @Html.TextArea("BusJustification", new { style = "width:98%" })
                                @Html.ValidationMessageFor(model => model.BusJustification, "*")
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <table style="width: 100%">
            <tr>
                <td colspan="2" style="border: groove">
                    <table class="box1">
                        <tr>
                            <td colspan="4" style="text-align: left; vertical-align: top; text-wrap: none; border: hidden">
                                @Html.CheckBox("SecuredAck1")
                                @Html.ValidationMessageFor(model => model.SecuredAck1, "*")
                                I verify that everything written 
                               herein is true to the best of my knowledge. 
                                I realize that laptop use and access to Renown Health computer systems and information assets are a privilege and are monitored and subject to 
                                Renown Health’s policies and procedures concerning professional 
                                use of computers and information systems, and 
                                <strong>RENOWN.IRP.210 Mobile Device Usage Policy</strong>.
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" style="text-align: left; vertical-align: top; text-wrap: none; border: hidden">
                                @Html.CheckBox("SecuredAck2")
                                @Html.ValidationMessageFor(model => model.SecuredAck2, "*")
                                I understand that non-compliance with Renown Health Policies may result in immediate termination of my 
                               USB device usage. 
                               In addition, this action may occur with Renown Health employment termination.
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" style="text-align: left; vertical-align: top; text-wrap: none; border: hidden">
                                @Html.CheckBox("SecuredAck3")
                                @Html.ValidationMessageFor(model => model.SecuredAck3, "*")
                                @*<asp:checkbox id="Chk_ack3" runat="server" />*@
                                I understand I am responsible for: 
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 10px"></td>
                            <td style="text-align: left; vertical-align: top; text-wrap: none; border: hidden; width: 100px">
                                @Html.ValidationMessageFor(model => model.SecuredAck4, "*")
                                @Html.CheckBox("SecuredAck4")
                                Logical security </td>

                            <td style="text-align: left; vertical-align: top; text-wrap: none; border: hidden; width: 100px">
                                @Html.ValidationMessageFor(model => model.SecuredAck5, "*")
                                @Html.CheckBox("SecuredAck5")
                                Physical security</td>

                            <td style="text-align: left; vertical-align: top; text-wrap: none; border: hidden; width: 100px">
                                @Html.ValidationMessageFor(model => model.SecuredAck6, "*")
                                @Html.CheckBox("SecuredAck6")
                                Immediate Notification: loss/theft</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>


        <table style="width: 100%">
            <tr>
                <td colspan="2" style="border: groove">
                    <table class="box1">
                        <tr>
                            <td colspan="2" style="text-align: center"><strong>Security Requirements:</strong></td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align: left; vertical-align: top; text-wrap: none; border: none">
                                @Html.CheckBox("SecurityAck1")
                                @Html.ValidationMessageFor(model => model.SecurityAck1, "*")
                                Business Use Only
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align: left; vertical-align: top; text-wrap: none; border: none">
                                @Html.CheckBox("SecurityAck2")
                                @Html.ValidationMessageFor(model => model.SecurityAck2, "*")
                                Must have Renown network account (UserID)
                            </td>
                        </tr>

                        <tr>
                            <td colspan="2" style="text-align: left; vertical-align: top; text-wrap: none; border: none">
                                @Html.CheckBox("SecurityAck3")
                                @Html.ValidationMessageFor(model => model.SecurityAck3, "*")
                                Assigned to individual, not to a Department
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align: left; vertical-align: top; text-wrap: none; border: none">
                                @Html.CheckBox("SecurityAck4")
                                @Html.ValidationMessageFor(model => model.SecurityAck4, "*")
                                Use encryption
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align: left; vertical-align: top; text-wrap: none; border: none">
                                @Html.CheckBox("SecurityAck5")
                                @Html.ValidationMessageFor(model => model.SecurityAck6, "*")
                                Physically secure device
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align: left; vertical-align: top; text-wrap: none; border: none">
                                @Html.CheckBox("SecurityAck6")
                                @Html.ValidationMessageFor(model => model.SecurityAck6, "*")
                                Do not disable any security or technical configurations
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align: left; vertical-align: top; text-wrap: none; border: none">
                                @Html.CheckBox("SecurityAck7")
                                @Html.ValidationMessageFor(model => model.SecurityAck7, "*")
                                Do not permanently store information on USB; backup all information to network drive
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align: left; vertical-align: top; text-wrap: none; border: none">
                                @Html.CheckBox("SecurityAck8")
                                @Html.ValidationMessageFor(model => model.SecurityAck8, "*")
                                Do not install any software
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align: left; vertical-align: top; text-wrap: none; border: none">
                                @Html.CheckBox("SecurityAck9")
                                @Html.ValidationMessageFor(model => model.SecurityAck9, "*")
                                Scan the device for malicious software prior to opening files
                            </td>
                        </tr>
                    </table>
                    <table class="Table1Format">
                        <tr>
                            <td colspan="1" style="width: 250px">
                                <strong>Renowned Owned Type:</strong>
                            </td>
                            <td style="text-align: left" colspan="1">

                                @Html.ValidationMessageFor(model => model.RenownOwned, "*")
                                @{
            bool newOpt = false;
            bool existingOpt = false;
            if (Model.RenownOwned != null)
            {
                newOpt = Model.RenownOwned == "New";
                existingOpt = Model.RenownOwned == "Existing";
            }
                                }
                                <strong>

                                    @Html.Label("New:")
                                    @Html.RadioButton("RadBtnRenownOwned", "New", newOpt)
                                    @Html.Label("Existing:")
                                    @Html.RadioButton("RadBtnRenownOwned", "Existing", existingOpt)
                                </strong>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1">
                                <div class="editor-label">
                                    <strong>
                                        @Html.LabelFor(model => model.Model)

                                    </strong>

                                </div>
                            </td>
                            <td colspan="1" style="text-align: left">
                                <div class="editor-field">
                                    @Html.TextBox("Model", Model.Model, new { style = "width:300px" })
                                    @Html.ValidationMessageFor(model => model.Model, "*")
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="editor-label">
                                    <strong>
                                        @Html.LabelFor(model => model.SerialNumber)

                                    </strong>

                                </div>
                            </td>
                            <td>
                                <div class="editor-field">
                                    @Html.TextBox("SerialNumber", Model.SerialNumber, new { style = "width:300px" })
                                    @Html.ValidationMessageFor(model => model.SerialNumber, "*")
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align: top; width: 75px">
                                <strong>Employee Signature:</strong>
                            </td>
                            <td>
                                @Html.TextBox("EmployeeSignature", null, new { style = "width:300px" })
                                @Html.ValidationMessageFor(model => model.EmployeeSignature, "*")
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align: top; width: 75px">
                                <strong>Date:</strong>
                            </td>
                            <td>
                                @Html.TextBox("SubmitDate", DateTime.Now, new { style = "width:200px", disabled = "true" })
                            </td>
                        </tr>
                    </table>

                </td>
            </tr>
        </table>
    </fieldset> 
    <table class="Table1Format" style="width: 98%; border: 2px solid">
        <tr>
            <td style="font-size: 20px; font-weight: bold; text-align: center"><input type="submit" name="submitButton" value=@Page.SubmitType />
            </td>

            @if (Model.UsbDeviceId == 0)
            {
                <td style="font-size: 20px; font-weight: bold; text-align: center">Save for later (No Validation Performed)<input type="submit" name="submitButton" value="Save" />
                </td>
            }
        </tr>
    </table>

    
}

