@model InformationProtection.Models.WirelessMdlData
@{
    ViewBag.Title = "Wireless Request";
}




@using (Html.BeginForm())
{
    @Html.Hidden("EmpID", ViewData["EmpID"]);
    @Html.Hidden("RequestorId", Model.RequestorId);
    @Html.Hidden("RequestId", Model.RequestId);
    @Html.Hidden("WirelessDeviceId", Model.WirelessDeviceId);
    @Html.ValidationSummary()
    <fieldset style="width: 96%">
        <h2 class="RenownHeader1">WIRELESS INTERNET DEVICE REQUEST FORM</h2>
        <legend>Wireless Request</legend>



        <table class="Table1Format">
            <tr style="width: 98%">
                <td class="Request" colspan="4">This form is to request and utilize a 
                   This form is to request and utilize a 
                   <strong><u>Renown-provided wireless Internet device</u></strong>
                    for a Health employee who requires this equipment to fufill his/her professional responsibilities on behalf of Renown. 
                   To obtain a renow Health provided wireless Internet device for business use, the employee must complete this form, 
                   have it approved by his/her management, the Renown Health, Chief Financial Officer, Information Protection,
                   and Chief Information Officer. Once all approvals have been received, the document will be contained in the employee's HR file and
                   a copy resident in the immediate supervisor's employee file. 
                   All access is subject to Renown Health polices and procedures. Thank you.
                </td>
            </tr>

            <tr style="width: 98%">
                <td colspan="4" style="text-align: left; border: groove">
                    <table class="box">
                        <tr>
                            <td style="background-color: #D4D0C8; text-align: left" colspan="2">
                                <strong>Business justification: </strong>
                                Please specify the job duties that require wireless Internet use, 
                                how this access will support your work, 
                                and how your work will be impacted without it.
                            </td>
                        </tr>



                        <tr>
                            <td style="background-color: antiquewhite; text-align: left" colspan="4">
                                @Html.TextArea("BusJustification", new { style = "width:98%" })
                                @Html.ValidationMessageFor(model => model.BusJustification, "*")
                            </td>
                        </tr>

                    </table>
                </td>
            </tr>
        </table>
        <table style="width: 100%">
            <tr>
                <td colspan="2" style="border: groove">
                    <table class="box1">
                        <tr>
                            <td colspan="4" style="text-align: left; vertical-align: top; text-wrap: none; border: hidden">
                                @Html.CheckBoxFor(model => model.SecuredAck1)
                                @Html.ValidationMessageFor(model => model.SecuredAck1, "*")
                                I verify that everything written 
                               herein is true to the best of my knowledge. 
                                I realize that wireless Internet device use and access to Renown Health computer systems and information assets are a privilege and are monitored and subject to 
                                Renown Health’s policies and procedures concerning professional 
                                use of computers and information systems, and 
                                <strong>RENOWN.IRP.210 Mobile Device Usage Policy</strong>.
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" style="text-align: left; vertical-align: top; text-wrap: none; border: hidden">
                                @Html.CheckBoxFor(model => model.SecuredAck2)
                                @Html.ValidationMessageFor(model => model.SecuredAck2, "*")
                                I understand that non-compliance with Renown Health Policies may result in immediate termination of my 
                               Laptop usage. 
                               In addition, this action may occur with Renown Health employment termination.
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" style="text-align: left; vertical-align: top; text-wrap: none; border: hidden">
                                @Html.CheckBoxFor(model => model.SecuredAck3)
                                @Html.ValidationMessageFor(model => model.SecuredAck3, "*")
                                @*<asp:checkbox id="Chk_ack3" runat="server" />*@
                                I understand I am responsible for: 
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 10px"></td>
                            <td style="text-align: left; vertical-align: top; text-wrap: none; border: hidden; width: 100px">
                                @Html.CheckBoxFor(model => model.SecuredAck4)
                                @Html.ValidationMessageFor(model => model.SecuredAck4, "*")
                                Logical security </td>

                            <td style="text-align: left; vertical-align: top; text-wrap: none; border: hidden; width: 100px">
                                @Html.CheckBoxFor(model => model.SecuredAck5)
                                @Html.ValidationMessageFor(model => model.SecuredAck5, "*")
                                Physical security</td>

                            <td style="text-align: left; vertical-align: top; text-wrap: none; border: hidden; width: 100px">
                                @Html.CheckBoxFor(model => model.SecuredAck6)
                                @Html.ValidationMessageFor(model => model.SecuredAck6, "*")
                                Immediate Notification: loss/theft</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>


        <table style="width: 100%">
            <tr>
                <td colspan="2" style="border: groove">
                    <table class="box1">
                        <tr>
                            <td colspan="2" style="text-align: center"><strong>Security Requirements:</strong></td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align: left; vertical-align: top; text-wrap: none; border: ridge">
                                @Html.CheckBoxFor(model => model.SecurityAck1)
                                @Html.ValidationMessageFor(model => model.SecurityAck1, "*")
                                Business Use Only
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align: left; vertical-align: top; text-wrap: none; border: ridge">
                                @Html.CheckBoxFor(model => model.SecurityAck2)
                                @Html.ValidationMessageFor(model => model.SecurityAck2, "*")
                                Must have Renown network account (UserID)
                            </td>
                        </tr>

                        <tr>
                            <td colspan="2" style="text-align: left; vertical-align: top; text-wrap: none; border: ridge">
                                @Html.CheckBoxFor(model => model.SecurityAck3)
                                @Html.ValidationMessageFor(model => model.SecurityAck3, "*")
                                Assigned to individual, not to a Department
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align: left; vertical-align: top; text-wrap: none; border: ridge">
                                @Html.CheckBoxFor(model => model.SecurityAck4)
                                @Html.ValidationMessageFor(model => model.SecurityAck4, "*")
                                Do not disable any security or technical configurations
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align: left; vertical-align: top; text-wrap: none; border: ridge">
                                @Html.CheckBoxFor(model => model.SecurityAck5)
                                @Html.ValidationMessageFor(model => model.SecurityAck5, "*")
                                Physically secure device
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align: left; vertical-align: top; text-wrap: none; border: ridge">
                                @Html.CheckBoxFor(model => model.SecurityAck6)
                                @Html.ValidationMessageFor(model => model.SecurityAck6, "*")
                                Upon transfer or termination of employement, submit wireless Internet device to Inforrmation Resources
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align: left; vertical-align: top; text-wrap: none; border: ridge">
                                @Html.CheckBoxFor(model => model.SecurityAck7)
                                @Html.ValidationMessageFor(model => model.SecurityAck7, "*")
                                Only Connect it to Renown-owned, authorized equipment
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align: left; vertical-align: top; text-wrap: none; border: ridge">
                                @Html.CheckBoxFor(model => model.SecurityAck8)
                                @Html.ValidationMessageFor(model => model.SecurityAck8, "*")
                                Do not allow others to use this device
                            </td>
                        </tr>
                    </table>
                    <table class="Table1Format">




                        <tr>
                            <td colspan="1" style="width: 250px">
                                <strong>Renowned Owned Type:</strong>
                            </td>
                            <td style="text-align: left" colspan="1">
                                @Html.ValidationMessageFor(model => model.RenownOwnedType, "*")
                                @{
                                                            bool newOpt = false;
                                                            bool existingOpt = false;
                                                            if (Model.RenownOwnedType != null)
                                                            {
                                                                newOpt = Model.RenownOwnedType == "New";
                                                                existingOpt = Model.RenownOwnedType == "Existing";
                                                            }
                                }
                                <strong>
                                    @Html.Label("New:")
                                    @Html.RadioButton("RadBtnRenownOwned", "New", newOpt)
                                    @Html.Label("Existing:")
                                    @Html.RadioButton("RadBtnRenownOwned", "Existing", existingOpt)
                                </strong>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="1">
                                <div class="editor-label">
                                    <strong>
                                        @Html.LabelFor(model => model.Model)

                                    </strong>
                                </div>
                            </td>
                            <td colspan="1" style="text-align: left">
                                <div class="editor-field">
                                    @Html.TextBox("Model", Model.Model, new { style = "width:300px" })
                                    @Html.ValidationMessageFor(model => model.Model, "*")
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1">
                                <div class="editor-label">
                                    <strong>

                                        @Html.LabelFor(model => model.Vendor)
                                    </strong>
                                </div>
                            </td>
                            <td colspan="1" style="text-align: left">
                                <div class="editor-field">
                                    @Html.TextBox("Vendor", Model.Vendor, new { style = "width:300px" })
                                    @Html.ValidationMessageFor(model => model.Vendor, "*")
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="editor-label">
                                    <strong>
                                        @Html.LabelFor(model => model.SerialNumber)
                                    </strong>
                                </div>
                            </td>
                            <td>
                                <div class="editor-field">
                                    @Html.TextBox("SerialNumber", Model.SerialNumber, new { style = "width:300px" })
                                    @Html.ValidationMessageFor(model => model.SerialNumber, "*")
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: left" colspan="1">
                                <strong>Secured Physical Location of Device:</strong>
                            </td>
                            <td style="text-align: left" colspan="1">
                                @Html.TextBoxFor(model => model.PhysLocation, new { style = "width:98%" })
                                @Html.ValidationMessageFor(model => model.PhysLocation, "*")
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align: top; width: 75px">
                                <strong>Employee Signature:</strong>
                            </td>
                            <td>
                                @Html.TextBox("EmployeeSignature", null, new { style = "width:300px" })
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align: top; width: 75px">
                                <strong>Date:</strong>
                            </td>
                            <td>
                                @Html.TextBox("SubmitDate", DateTime.Now, new { style = "width:200px", disabled = "true" })
                            </td>
                        </tr>
                    </table>

                </td>
            </tr>
        </table>

    </fieldset> 
    <table class="Table1Format" style="width: 98%; border: 2px solid">
        <tr>
            <td style="font-size: 20px; font-weight: bold; text-align: center">Commit (Request is Complete)<input type="submit" name="submitButton" value=@Page.SubmitType />
            </td>

            <td style="font-size: 20px; font-weight: bold; text-align: center">Save for later (no validation performed)<input type="submit" name="submitButton" value="Save" />
            </td>
        </tr>
        <tr style="height: 25px"></tr>
    </table>

    
}


