@{
    ViewBag.Title = "Create";
    var myViewsShared = "~/Views/Shared/";
    var OurSubmitType = "Create";
}
<h2 class="RenownHeader1">CELL PHONE USE/REQUEST FORM</h2>
<fieldset>
    <legend>Requestor Information</legend>
    @{
        InformationProtection.Models.IpRequestorViewData requestor = (InformationProtection.Models.IpRequestorViewData)(ViewData["requestor"]);

        @Html.Hidden("EmpID", requestor.EmpID, new { id = requestor.EmpID });
        var id = requestor.EmpID;
    }
    <table style="width: 50%;">
        <tr style="font-size: 14px; font-weight: bold">
            <td>
                <p>User Form for Employee ID:</p>
            </td>
            <td>@Html.Label(requestor.EmpID as string)</td>
        </tr>
        <tr style="font-size: 14px; font-weight: bold">
            <td>
                <p>Employee Name:</p>
            </td>
            <td>@Html.Label(requestor.FullName as string)</td>
        </tr>

    </table>
</fieldset>
<table style="width: 98%" class="Table1Format">
    <tr>
        <td style = "font-size:20px;font-weight:bold;text-align:left" >
            @Html.ActionLink("Back To Users View", "Index", "UsersView", new { EmpId = id }, null)
        </td>
    </tr>
</table>
 @RenderPage(myViewsShared + "_CellPhoneEdit.cshtml", new { SubmitType = OurSubmitType })
