@model InformationProtection.Models.IpRequestorViewData
@{
    ViewBag.Title = "Create";
}


<script src="~/Scripts/Requestor.js"></script>
<h2 class="RenownHeader1">Employee Information</h2>



@using (Html.BeginForm())
{

    @Html.ValidationSummary(true)
    <table class="Table1Format">
        <tr>
            <td style="text-align: center" colspan="2">
                <strong>Please Choose<br />
                    @Html.Label("Submit for Self")
                    @Html.RadioButton("RadBtnSelfOrEmployee", "Self", true)
                    @Html.Label("Submit for Another Employee:")
                    @Html.RadioButton("RadBtnSelfOrEmployee", "Other")
                </strong>
            </td>
        </tr>


    </table>
    <div id="showEmployeesDropDwn">
        <table class="Table1Format">
            <tr style="border: 1px solid black; border-color: lightblue; display: table; margin: 5px; visibility: visible">
                <td>Choose a employee here to submit for</td>
                <td style="text-align: center;" colspan="2">
                    <div class="poem-stanza">
                        @Html.DropDownList("AllUsers", ViewBag.AllUsers as SelectList, "--Select a employee--", new { id = "AllUsersID" })
                    </div>
                </td>

            </tr>

        </table>
    </div>
    <table class="Table1Format">
        <tr>
            <td>
                <p>Employee ID</p>
            </td>
            <td>
               @Html.TextBox("EmpID1", Model.EmpID, new {disabled = "true" })

               @Html.Hidden("EmpID", Model.EmpID, new { id = "EmpID" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Fname)
            </td>
            <td>
                @Html.TextBox("FnameDisp", Model.Fname, new {disabled = "true" })
                @Html.Hidden("Fname", Model.Fname, new { id = "Fname" })
            </td>
        </tr>

        <tr>
            <td>
                @Html.LabelFor(model => model.Lname)
            </td>
            <td>
                @Html.TextBox("LnameDisp", Model.Lname, new {disabled = "true" })
                @Html.Hidden("Lname", Model.Lname, new { id = "Lname" })
            </td>
        </tr>

        <tr>
            <td>
                @Html.LabelFor(model => model.Mname)
            </td>
            <td>
                @Html.TextBox("Mname", Model.Mname, new {disabled = "true" })
                @Html.Hidden("Mname", Model.Mname, new { id = "Mname" })
            </td>
        </tr>

        <tr>
            <td>
                @Html.LabelFor(model => model.Email)
            </td>
            <td>
                @Html.TextBox("Email", Model.Email, new {disabled = "true" })
                @Html.Hidden("Email", Model.Email, new { id = "Email" })
            </td>
        </tr>



        <tr>
            <td>
                @Html.LabelFor(model => model.JobTitle)
            </td>
            <td>
                @Html.TextBox("JobTitle", Model.JobTitle, new {disabled = "true" })
                @Html.Hidden("JobTitle", Model.JobTitle, new { id = "JobTitle" })
            </td>
        </tr>

        <tr>
            <td>
                @Html.LabelFor(model => model.DeptName)
            </td>
            <td>
                @Html.TextBox("DeptName", Model.DeptName, new {disabled = "true" })
                @Html.Hidden("DeptName", Model.DeptName, new { id = "DeptName" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.DeptID)
            </td>
            <td>
                @Html.TextBox("DeptID", Model.DeptID, new {disabled = "true" })
                @Html.Hidden("DeptID", Model.DeptID, new { id = "DeptID" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.PhoneNumber)
            </td>
            <td>
                @Html.EditorFor(model => model.PhoneNumber)
                @Html.ValidationMessageFor(model => model.PhoneNumber)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.FullName)
            </td>
            <td>
                 @Html.TextBox("FullName", Model.FullName, new {disabled = "true" })
                 @Html.Hidden("FullNameHidden", Model.FullName, new  { id = "FullNameHiddenId"});
            </td>
        </tr>
    </table>
    <p>
        <input type="submit" value="Submit" />
    </p>
}




