@model InformationProtection.Models.IpRequestorViewData

@{
    ViewBag.Title = "Edit";
}
<h2 class="RenownHeader1">Employee Information</h2>



@using (Html.BeginForm())
{
    @Html.Hidden("FullNameHidden", Model.FullName, new  { id = "FullNameHiddenId"});
    @Html.Hidden("IpRequestorId", Model.IpRequestorId, new { id = "IpRequestorId" });
    @Html.Hidden("EmpID", Model.EmpID)

    @Html.ValidationSummary(true)   
    <table class="Table1Format">
        <tr>
            <td>
                <p>Employee ID</p>
            </td>
            <td>

                @Html.Label("EmployeeNumber", Model.EmpID, new  {id = "EmployeeNumberID" })
            </td>
        </tr>
        <tr>
            <td>

                @Html.LabelFor(model => model.Fname)

            </td>
            <td>
                @Html.EditorFor(model => model.Fname)
                @Html.ValidationMessageFor(model => model.Fname)
            </td>
        </tr>

        <tr>
            <td>
                @Html.LabelFor(model => model.Lname)
            </td>
            <td>
                @Html.EditorFor(model => model.Lname)
                @Html.ValidationMessageFor(model => model.Lname)
            </td>
        </tr>

        <tr>
            <td>
                @Html.LabelFor(model => model.Mname)
            </td>
            <td>
                @Html.EditorFor(model => model.Mname)
                @Html.ValidationMessageFor(model => model.Mname)
            </td>
        </tr>

        <tr>
            <td>
                @Html.LabelFor(model => model.Email)
            </td>
            <td>
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </td>
        </tr>



        <tr>
            <td>
                @Html.LabelFor(model => model.JobTitle)
            </td>
            <td>
                @Html.EditorFor(model => model.JobTitle)
                @Html.ValidationMessageFor(model => model.JobTitle)
            </td>
        </tr>

        <tr>
            <td>
                @Html.LabelFor(model => model.DeptName)
            </td>
            <td>
                @Html.EditorFor(model => model.DeptName)
                @Html.ValidationMessageFor(model => model.DeptName)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.DeptID)
            </td>
            <td>
                @Html.EditorFor(model => model.DeptID)
                @Html.ValidationMessageFor(model => model.DeptID)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.PhoneNumber)
            </td>
            <td>
                @Html.EditorFor(model => model.PhoneNumber)
                @Html.ValidationMessageFor(model => model.PhoneNumber)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.FullName)
            </td>
            <td>
                @Html.EditorFor(model => model.FullName)
                @Html.ValidationMessageFor(model => model.FullName)
            </td>
        </tr>
    </table>
    <p>
        <input type="submit" value="Submit" />
    </p>
}

<p>
    @Html.ActionLink("Cancel", "Index", "UsersView", new  {EmpID=Model.EmpID }, null)
</p>