@model InformationProtection.Models.LapTopViewData

@{
    ViewBag.Title = "Details";
 
    InformationProtection.Models.IpRequestorViewData requestor = (InformationProtection.Models.IpRequestorViewData)(ViewData["requestor"]);

    @Html.Hidden("EmpID", requestor.EmpID, new { id = requestor.EmpID });
    var id = requestor.EmpID;
}
 @Html.ActionLink("Printer Friendly View",
           "Print",
           new { EmpId = id, LapTopDeviceId = Model.LapTopDeviceId },
           null)
<fieldset>
    <legend>Requestor Information</legend>

    <table style="width: 50%;">
        <tr style="font-size: 14px; font-weight: bold">
            <td>
                <p>User Form for Employee ID:</p>
            </td>
            <td>@Html.Label(requestor.EmpID as string)</td>
        </tr>
        <tr style="font-size: 14px; font-weight: bold">
            <td>
                <p>Employee Name:</p>
            </td>
            <td>@Html.Label(requestor.FullName as string)</td>
        </tr>

    </table>
</fieldset>


@RenderPage("~/Views/Shared/_LapTopDetails1.cshtml")

<table class="Table1Format" style="width: 98%;border:2px solid">
    <tr>
        <td style="font-size: 20px; font-weight: bold; text-align: left">
            @Html.ActionLink("Back To Users View", "Index", "UsersView", new { EmpId = id }, null)
        </td>

        <td style="font-size: 20px; font-weight: bold; text-align: center">
            @Html.ActionLink("Edit", "Edit", new { EmpID = id, LapTopDeviceId = Model.LapTopDeviceId }, null)
        </td>
    </tr>
</table>
<br /><br />


